<!DOCTYPE html>
<html ng-app="app1">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

   <title>Main page</title>

   <link rel="stylesheet" href="/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/index.css">
   <script src="/js/jquery.min.js"></script>
   <script src="/js/bootstrap.min.js"></script>
</head>
    
<body ng-controller="IndexCtrl as ctrl">
    
	<div class="container">

		<div class="page-header">
			<h1>Main page</h1>
		</div>

		<div class="panel panel-default">

			<div class="panel-heading">
				Programming Web Applications<br>
				<div ng-if="ctrl.isAuthenticated == false">
					<a href="/html/login.html" class="btn btn-default btn-sm">Login</a>
					<a href="/html/register.html" class="btn btn-default btn-sm">Register</a>
				</div>
				<div ng-if="ctrl.isAuthenticated == true">
					<a href="/html/groups.html" class="btn btn-default btn-sm">Groups</a>
					<a href="/html/message.html" class="btn btn-default btn-sm">Create Message</a>
					<button class="btn btn-default btn-sm" ng-click="ctrl.logOut()">Log out</button>	
				</div>
				
			</div>

			<div class="panel-body">
				<div ng-if="ctrl.countTotal == 0">
					You don't have any messages.
				</div>
				<div class="row" ng-repeat="m in ctrl.messagesArray" style="margin: 2% 0 2% 0;" ng-if="ctrl.isAuthenticated == true">
					<b>{{ m.author }}: {{ m.title }}</b><br>
					{{ m.body }}
				</div>
				<div class="row" style="margin: 2% 0 2% 0;" ng-if="ctrl.isAuthenticated == true">
					<div class="col-sm-11 form-inline" style="text-align: right;">
						<button class="btn btn-primary" ng-click="ctrl.prev()" ng-disabled="ctrl.nSkip < 5">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</button>
						<span class="label label-default" style="display: inline-block; width: 50px;" ng-bind="ctrl.nSkip"></span>-
						<span class="label label-default" style="display: inline-block; width: 50px;" ng-bind="ctrl.nSkip + ctrl.pageLimit - 1 >= ctrl.countTotal ? ctrl.countTotal - 1 : ctrl.nSkip + ctrl.pageLimit - 1"></span> /
						<span class="label label-default" style="display: inline-block; width: 50px;" ng-bind="ctrl.count"></span> of
						<span class="label label-default" style="display: inline-block; width: 50px;" ng-bind="ctrl.countTotal"></span>
						<button class="btn btn-primary" ng-click="ctrl.next()" ng-disabled="ctrl.nSkip + ctrl.count >= ctrl.countTotal">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</button>
					</div>
				</div>
			</div>

			<div class="panel-footer">
				
			</div>

		</div>

	<script src="/js/angular.min.js"></script>
	<script src="/js/angular-animate.min.js"></script>
	<script src="/js/angular-cookies.js"></script>
	<script src="/js/ui-bootstrap-tpls.min.js"></script>
	<script src="/js/app1.js"></script>
	<script src="/js/indexCtrl.js"></script>

</body></html>